<center>Welcome to the random pairing tool.<br>
<br>
It will take the names of the students in your class and randomly pair them. Should your list have an odd number of names it will add the remaining name to the last group.<br>
<br>
How many students are in class today?
<br>
<br>

<input type = "number" id="myInput" onchange="return myFunction()">

<%#<form method = "post" action = "number">%>
<%#</form>%>
<%#onchange="return myFunction()">%>
<p id="demo"></p>
<script>
	function myFunction() {
		var x = document.getElementById("myInput").value;
		var y = "";
		for (i = 0; i < x; i++) {
			//y += " $" + x;
		}
		document.getElementById("demo").innerHTML = "Enter the student names here:";

		for (var i = 1; i <= x; i++){
			var input = document.createElement("input");
			input type="text";
			input.name = "text" + i; //names the element
			document.getElementById("demo").appendChild(input).value;
	}
	}
	</script>
<br>
<input type="submit">
<%#</form>%>
</center>